/* 연습모드 결과창 */

position: absolute;
width: 1000px;
height: 307px;
left: 351px;
top: 280px;



/* Rectangle 2898 */

position: absolute;
width: 1000px;
height: 307px;
left: 351px;
top: 280px;

background: #323543;
border-radius: 10px;


/* 칸1 */

position: absolute;
width: 1000px;
height: 85px;
left: 351px;
top: 332px;



/* Rectangle 2943 */

position: absolute;
width: 1000px;
height: 85px;
left: 351px;
top: 332px;

background: #3C4051;


/* 문제풀이결과 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 61px;

position: absolute;
width: 871px;
height: 54px;
left: 385px;
top: 348px;



/* 문제 제목 */

width: 152px;
height: 54px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* abc학교 점심시간 */

position: absolute;
width: 152px;
height: 27px;
left: 0px;
top: 0px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;



/* 문제 유형 */

position: absolute;
width: 78px;
height: 22px;
left: 72px;
top: 32px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;

color: #FFFFFF;



/* 맞았습니다 */

width: 92px;
height: 27px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #04BB00;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 71248KB */

width: 84px;
height: 27px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* 348ms */

width: 64px;
height: 27px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Python */

width: 69px;
height: 27px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* 2023-07-24 14:13 */

width: 105px;
height: 54px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* 칸2 */

position: absolute;
width: 1000px;
height: 85px;
left: 351px;
top: 417px;



/* Rectangle 2944 */

position: absolute;
width: 1000px;
height: 85px;
left: 351px;
top: 417px;

background: #3C4051;


/* 문제풀이결과 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 61px;

position: absolute;
width: 871px;
height: 54px;
left: 384px;
top: 433px;



/* 문제 제목 */

width: 152px;
height: 54px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* abc학교 점심시간 */

position: absolute;
width: 152px;
height: 27px;
left: 0px;
top: 0px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;



/* 문제 유형 */

position: absolute;
width: 78px;
height: 22px;
left: 72px;
top: 32px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;

color: #FFFFFF;



/* 틀렸습니다 */

width: 92px;
height: 27px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #EB3535;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 71248KB */

width: 84px;
height: 27px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* 348ms */

width: 64px;
height: 27px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Python */

width: 69px;
height: 27px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* 2023-07-24 14:13 */

width: 105px;
height: 54px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* 칸3 */

position: absolute;
width: 1000px;
height: 85px;
left: 351px;
top: 502px;



/* Rectangle 2945 */

position: absolute;
width: 1000px;
height: 85px;
left: 351px;
top: 502px;

background: #3C4051;
border-radius: 0px 0px 10px 10px;


/* 문제풀이결과 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 61px;

position: absolute;
width: 871px;
height: 54px;
left: 384px;
top: 518px;

border-radius: 0px 0px 10px 10px;


/* 문제 제목 */

width: 152px;
height: 54px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* abc학교 점심시간 */

position: absolute;
width: 152px;
height: 27px;
left: 0px;
top: 0px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;



/* 문제 유형 */

position: absolute;
width: 78px;
height: 22px;
left: 72px;
top: 32px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;

color: #FFFFFF;



/* 맞았습니다 */

width: 92px;
height: 27px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #04BB00;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 71248KB */

width: 84px;
height: 27px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* 348ms */

width: 64px;
height: 27px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Python */

width: 69px;
height: 27px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* 2023-07-24 14:13 */

width: 105px;
height: 54px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* 메뉴 */

position: absolute;
width: 779px;
height: 27px;
left: 464px;
top: 295px;



/* 문제 */

position: absolute;
width: 37px;
height: 27px;
left: 464px;
top: 295px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;



/* 결과 */

position: absolute;
width: 37px;
height: 27px;
left: 621px;
top: 295px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;



/* 메모리 */

position: absolute;
width: 56px;
height: 27px;
left: 763px;
top: 295px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;



/* 시간 */

position: absolute;
width: 37px;
height: 27px;
left: 911px;
top: 295px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;



/* 언어 */

position: absolute;
width: 37px;
height: 27px;
left: 1037px;
top: 295px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;



/* 제출시간 */

position: absolute;
width: 74px;
height: 27px;
left: 1169px;
top: 295px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;



/* 칸3 */

position: absolute;
width: 1000px;
height: 85px;
left: 351px;
top: 502px;



/* Rectangle 2945 */

position: absolute;
width: 1000px;
height: 85px;
left: 351px;
top: 502px;

background: #3C4051;
border-radius: 0px 0px 10px 10px;


/* 문제풀이결과 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 61px;

position: absolute;
width: 871px;
height: 54px;
left: 384px;
top: 518px;

border-radius: 0px 0px 10px 10px;


/* 문제 제목 */

width: 152px;
height: 54px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* abc학교 점심시간 */

position: absolute;
width: 152px;
height: 27px;
left: 0px;
top: 0px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;



/* 문제 유형 */

position: absolute;
width: 78px;
height: 22px;
left: 72px;
top: 32px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;

color: #FFFFFF;



/* 맞았습니다 */

width: 92px;
height: 27px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #04BB00;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 71248KB */

width: 84px;
height: 27px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* 348ms */

width: 64px;
height: 27px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Python */

width: 69px;
height: 27px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* 2023-07-24 14:13 */

width: 105px;
height: 54px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
