<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Upload Files</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>File Upload</h1>
<form method="POST" th:action="@{/problem/{problemNo}/testcase(problemNo=${problemNo})}" th:object="${testcaseListDto}" enctype="multipart/form-data">
  <input type="hidden" th:field="*{problemNo}" />
  <input type="file" id="testcaseInputList" name="testcaseInputList" multiple>
  <input type="file" id="testcaseOutputList" name="testcaseOutputList" multiple>

  <button type="submit">Submit</button>
</form>
</body>
</html>





